#dvSaveologyContent #dvSearchResults
{
position: absolute;
left:240px;
}
    
#endConflict
{
   padding: 0; 
   margin:0; 
   width: auto; 
   background: none; 
   border:0; 
   overflow: hidden; 
}
   
.results-info {margin:10px 0;}

body { }

#resultsWrapper {
	position: relative; 
	width: 958px; 
	min-height:485px; 
	background:url(../images/bg.jpg) left top no-repeat; 
	margin: auto;
	font-family:myriad pro, Arial, Verdana,  sans-serif; font-size:14px;
	line-height: normal;
}

.resultsPadding{padding: 20px;}

.headline{font-size: 44px; color:#f00;}
.sub-headline{font-size: 36px; color:#f00;}
.sub-headline-visa{font-size: 20px; color:#666666; padding: 20px;}
.results-padding{padding: 20px;}
.hangRight
{
    float: right; 
    width: 33%;     
    background: url(../images/call.png) 0 0 no-repeat; 
    height: 439px;
}

.hangLeft{float: left; width: 65%;}
.clear {clear: both;}

.halfRight
{
    float: right; 
    width: 48%; 
    margin: 15px 0; 
    position:relative; 
   /* background: url(../images/visa-card.png) 0 0 no-repeat; */ 
    height: 91px;

}
    
.halfLeft{float: left; width: 40%; margin: 15px 0; position:relative;}

.plusSign{
	color:#09C;
	float: left;
    font-size: 41px;
    font-weight: bold;
    line-height: 54px;
    margin: 15px 0;
}

.visa-card-left
{
    position:absolute;  
    top:245px;
    left:40px;
    background: url(../images/visa-card.png) 0 0 no-repeat;
    height:91px;
    width:124px;
}
.visa-card-right
{
    position:absolute;  
    top:245px;
    left:260px;
    background: url(../images/visa-gift-card.png) 0 0 no-repeat;
    height:91px;
    width:124px;
}
#visa-plus {
position:absolute;
color:#0099cc;
top:260px;
left:185px;
background: url(../images/visa-plus.png) 0 0 no-repeat;
height:50px;
width:50px;
}


.cardDetail{font-size:20px;}
.cardDetail p {position: absolute; right: -10px; top: 0;}
.cardDetail span{color: #f00; font-size:32px; font-weight:bold; line-height: 42px;}
.cardDetail img {margin-right: 18px;}
.offerAlert{color: #0099cc; font-weight:bold; font-size: 20px; margin: 15px 0;}
.offerAlert-big{color: #0099cc; font-weight:bold; font-size: 34px; margin: 15px 0;}
.offerAlert-bigplus{color: #0099cc; font-weight:bold; font-size: 34px; margin: 15px 0;}
.callout{font-size: 30px; color: #F00; font-weight:bold;  z-index: 2;}
.callout span{font-size: 40px; line-height: 60px;}

.results-disclaimer{font-size: 12px; color:#333; margin-top: 15px;}