/*  You can import other styles into this one using: @import url(other_styles.css); */
@import url(verizon.css);
/*@import url(../holiday/holiday.css);*/
@import url(../landing/css/landing.css);
@import url(results.css);
/****************************/
/***     Overide Style    ***/
/****************************/


#ver-pop p a
{
    text-decoration: none;
    color: #000;
}
#mySearchAddressFields {
	margin-top: 65px;
	padding: 20px;
	width: 218px;
}
#myFormAddress1 {
	line-height: 14px;
	margin-bottom: 3px;
	top: 0;
}
label {
	display: block;
	float: left;
	font-weight: bold;
	margin-top: 4px;
	padding-right: 5px;
	text-align: left;
	width: 60px;
}
input {
	width: 130px;
}
#myFormAddress2 {
	float: left;
	width: 245px;
}
#myFormZip {
	clear: left;
}
#myFormPhone {
}
#mySearchSubmit {
	background: url("../images/signup-button.gif") no-repeat scroll center top transparent;
	border: medium none;
	cursor: pointer;
	display: block;
	height: 31px;
	margin: 15px 0 0 35px;
	padding: 0;
	width: 135px;
}
#mySearchCallNow {
	clear: both;
	margin: 0;
	text-align: center;
}
.spCallToAction {
	color: black;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-align: center;
}
#numberassigned {
	color: #E50202;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}
/****************************/
/***     Global Styles    ***/
/****************************/
body {
	background: #161616 url(../images/black-bg.jpg) repeat scroll 0 0;
}
#dvGlobalWrapper {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0 auto;
	background: url(../images/black-bg.jpg) repeat 0 0;
	width:960px; margin:0 auto;
}
#dvGlobalWrapperContainer {
	width:959px;
	margin:0 auto;
	background-color:#FFF;
	padding:20px 0 0 0;
}
#dvGuestHeader {
}
#dvGuestHeaderContainer {
}
#dvSaveologyContent {
}
#dvSaveologyContentContainer {
}
#dvGuestFooter {
	background: url(../images/black-bg.jpg) repeat 0 0;
	padding-bottom:40px;
}
dvGuestFooterContainer {
}
.clear {
	clear:both;
	height:1px;
	overflow:hidden;
}
/****************************/
/***   Homepage Styles    ***/
/****************************/

#dvHomeContent {
}
/*** Main Homepage Search Form ***/
#dvHomeSearchSectionCntnr {
    display:none;
}
#dvHomeSearchSectionTop {
	display:none;
}
#dvHomeSearchSectionBottom {
	display:none;
}
#dvHomeSearchSection {
	background:url(../images/signup.jpg) no-repeat scroll;
	height:291px;
	width:273px;
	float:right;
	margin-top:-20px;
}
#myHomeSearchSection {
	display: none;
	background:url(../images/signup.jpg) no-repeat scroll;
	height:291px;
	width:273px;
	float:right;
	margin-top:-20px;
}
#dvHomeSearchSection h3 {
	display:none;
}
#dvHomeSearchSection #dvSearchForm {
	margin:70px 0 5px 30px;
	width:240px;
	font-size:13px;
	padding:0;
}
#dvHomeSearchSection #dvSelectService h4 {
	display:none;
}
#dvHomeSearchSection #dvSearchForm p {
	display:none;
}
#dvHomeSearchSection #dvSelectService p {
	display:none;
}
#dvHomeSearchSection #dvSelectService ul {
	display:none;
}
#dvHomeSearchSection #dvSelectService li {
	margin:0;
	padding:0;
	float:left;
}
#dvHomeSearchSection #dvSelectService li.liLeftColumn {
	width:65%;
}
#dvHomeSearchSection #dvSelectService li.liRightColumn {
	width:35%;
}
#dvHomeSearchSection #dvSearchAddressFields {
	width:255px;
}
#dvHomeSearchSection #dvSearchAddressFields div.dvFormRow {
	top:0;
	line-height:14px;
	margin-bottom:3px;
}
#dvHomeSearchSection #dvSearchAddressFields p {
	position:relative;
	top:-18px;
}
#dvHomeSearchSection #dvSearchAddressFields .dvFormRow {
	position:relative;
	top:20px;
	margin:0;
	padding:0;
	line-height:11px;
}
#dvFormAddress1 {
	width:245px;
	float:left;
}
#dvHomeSearchSection #dvSearchAddressFields #dvFormAddress2 {
	width:245px;
	float:left;
}
#dvHomeSearchSection #dvSearchAddressFields #dvFormZip {
	clear:left;
}
#dvHomeSearchSection #dvSearchAddressFields label {
	width:60px;
	float:left;
	display:block;
	font-weight:bold;
	text-align:left;
	padding-right:5px;
	margin-top:4px;
}
#dvHomeSearchSection #dvSearchAddressFields #dvFormAddress1 input {
	width: 130px;
}
#dvHomeSearchSection #dvSearchAddressFields #dvFormAddress2 input {
	width:130px;
}
#dvHomeSearchSection #dvSearchAddressFields #dvFormZip input {
	width:130px;
}
#dvHomeSearchSection span#spWhy {
	color:blue;
	text-decoration:underline;
	cursor:pointer;
	padding-left:15px;
}
#dvHomeSearchSection #dvSearchForm input.btnHomeSubmit {
	display:block;
	width:135px;
	background: url(../images/signup-button.gif) center top no-repeat;
	height:31px;
	border:none;
	padding:0;
	margin:15px 0 0 35px;
	cursor:pointer;
}
/*** Call now at bottom of search form ***/
#dvHomeSearchSection #dvSearchCallNow {
	margin:0px;
	margin:0;
	text-align:center;
	clear:both;
}
#dvHomeSearchSection #dvSearchCallNowSEO {
	margin-top:20px;
	margin:0;
	text-align:center;
	clear:both;
	font-size:16px;
}
#dvSearchCallNowSEO {
	text-align: center; 
	padding: 12px 0pt 0pt; 
	font-size: 16px; 
	font-weight: bold;
	margin-top:20px;
}
#dvHomeSearchSection #dvSearchCallNow span.spCallToAction {
	color:black;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	margin:0;
	padding:0;
	line-height:24px;
}
#dvHomeSearchSection #dvSearchCallNow span.spCallToActionSEO {
	color:black;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin:0;
	padding:0;
	line-height:24px;
}
#dvHomeSearchSection #dvSearchCallNow span.spPhoneNumber {
	color:#E50202;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	line-height:24px;
}
/*** Search banner content ***/

#dvSearchContent {
	width:268px;
	float:left;
	height:220px;
	/*background: url(../images/comcast-mainoffer.jpg) no-repeat; */
    color:#fff;
	margin-left: 10px;
}
#dvSearchContent h3 {
	margin:0;
	padding:0;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
#dvSearchContent ul {
	margin-top:45px;
	margin-left:20px;
}
#dvSearchContent li {
	color:#FFFFFF;
	font-size:14px;
	font-weight:bold;
	margin:8px 0;
	list-style-type:disc;
	margin-left:20px;
}
/*** Home Page - Bottom breakouts ***/

#dvHomeContent {
	clear:both;
	width:760px;
	margin:0 auto;
}
#dvDigitalCable, #dvHomePhone, #dvInternet {
	width:240px;
	float:left;
	padding:6px;
}
#dvDigitalCable ul, #dvHomePhone ul, #dvInternet ul {
	margin:10px;
	padding:0;
	list-style:circle;
}
#dvDigitalCable li, #dvHomePhone li, #dvInternet li {
	margin:10px;
	padding:0;
	list-style-type:disc;
}
#dvDigitalCable h3, #dvHomePhone h3, #dvInternet h3 {
	margin:10px;
	font-size:16px;
	font-weight:bold;
	color:#000099;
}
#dvDigitalCable, #dvHomePhone {
	background: url(../images/default/v_line.jpg) right top no-repeat;
}
#dvDigitalCable h2 {
	height:54px;
	background: url(../images/default/cable_icon.jpg) no-repeat;
	padding-left:70px;
	font-size:22px;
	color:#000099;
}
#dvHomePhone h2 {
	height:54px;
	background: url(../images/default/d_phone_icon.jpg) no-repeat;
	padding-left:80px;
	font-size:22px;
	color:#000099;
}
#dvInternet h2 {
	height:54px;
	background: url(../images/default/internet_icon.jpg) no-repeat;
	padding-left:100px;
	font-size:22px;
	color:#000099;
}

/****************************/
/**** TV PAGE ****/
/****************************/

.features-wrapper {
    float: right;
    height: 156px;
    margin-left: 12px;
    margin-right: 15px;
    margin-top: 47px;
    width: 685px;
}
.TV-features
{
    background: url(../images/tv-features.jpg) no-repeat;
    margin:30px 0 0 40px;   
    width:892px;
    height:286px;
}

.one-fifth {
    float: left;
    font-size: 11px;
    line-height: 13px;
    margin-right: 8px;
    width: 128px;
    text-shadow: 8px 8px 8px #fff;
}
.TV-titles {
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.7px;
    line-height: normal;
    margin: 8px 0;
}

/****************************/
/**** SEARCH PAGE STYLES ****/
/****************************/

#dvSaveologyContent #dvMainContent {
	width:900px;
	padding:9px;
	text-align: left;
}
/*** Address Available ***/
#dvSaveologyContent #dvAddressAvailable {
	background:#fff;
	padding:10px;
	margin: 0 0 50px 0;
	border:none;
	height:auto;
	overflow:visible;
	background: #e7e7e7;
	border:1px solid #999
}
}
#dvSaveologyContent #dvAddressAvailable h3 {
	font-size:18px;
	color:#e50202;
	float:none;
}
#dvSaveologyContent #dvAddressAvailable p {
	/* Additional Styles */
    color:#666;
	float:none;
	clear:left;
}
/*** Filter bar ****/

#dvSaveologyContent #dvFilter {
	display:block;
	position:absolute;
 *top:260px !important;
*border:none !important;
}
 @media screen and (-webkit-min-device-pixel-ratio:0) {
#dvSaveologyContent #dvFilter {
position:relative;
}
}
#dvSaveologyContent #dvFilter h3 {
	background: url(../images/filter-top.gif) no-repeat -25px;
}
#dvSaveologyContent .clsFilterGroup h4 {
/* Change Sub-heading sytles filters */
}
/** AJAX stuff **/


#dvSaveologyContent #loadingBar {
	/*background: url(../images/progress-bar.gif) no-repeat;*/
    margin-left: 10px;
}
#progressBar {
	margin-left: 10px;
}
/*** RESULTS GRID ****/
#dvSaveologyContent #otherProvider {
	/*display:none;*/
    font-weight:bold;
	width:450px;
	float:left;
	font-size:13px;
	clear:left;
}
#dvSaveologyContent #dvSearchResults {
	width:450px;
	margin-right:0px;
}
#dvSaveologyContent .clsOfferContainer {
	/*border: 1px solid #e1e1c9;*/

    margin-bottom:25px;
	overflow:auto;
	clear:both;
	width:auto;
	overflow:hidden;
	border-width:0px;
	position:relative;
	border:1px solid #e7e7e7;
}
#dvSaveologyContent .clsOfferTitle {
	background:#e0e0e0;
	/*margin:10 0 0 10;
padding: 20 0 0 20;
border: 1 10 white;*/
width:457px;
	border-top:1px solid #e1e1c9
}
#dvSaveologyContent .clsOfferTitle h3 {
	color:#C00;
}
#dvSaveologyContent .clsOfferPrice {
	background:#e0e0e0;
	width:110px;
	border-top:1px solid #e1e1c9
}
#dvSaveologyContent .clsOfferPrice h3 {
	/* This is for plans WITH a PRICE */
    color:#000;
}
#dvSaveologyContent .clsOfferPrice h4 {
	/* this is for plans with NO PRICE */
    color:#000;
}
#dvSaveologyContent .clsOfferDetails {
	background: #fff;
	color:#000;
	padding: 0 15px 15px 15px;
	margin:0 5px;
	border-width:0px;
	left:0;
	border-right: 1px solid #e7e7e7;
}
.offerspecs_details {
	float:right;
	padding: 20px 0 0 0
}
#dvSaveologyContent .clsOfferDetails div {
	width:162px;
	float:right;
}
#dvSaveologyContent .clsOfferDetails ul {
	margin: 0;
	padding: 0;
}
#dvSaveologyContent .clsOfferDetails ul li {
	background: url(../images/bullet.gif) 0 0 no-repeat;
	list-style: none;
	padding-left:23px;
}
#dvSaveologyContent .selectplan_bt {
	/* Width and Height of Image
        ONLY change this if it's not the same
    height:26px;
    width:120px;
    
   */
   float:right;
}
#dvSaveologyContent .clCallForOffer h4 {
	font-size:16px;
	color:#ff0000;
}
/*** Shopping Cart ***/


#dvSaveologyContent #dvShoppingCart {
	width:260px;
	float:right;
	color:#000;
}
#dvSaveologyContent #dvShoppingCartWrapper {
	/** This is the repeating background for the container **/
    background:none;
	position:relative;
	border:1px solid #003375;
	background: #ecf0f9;
	width:260px;
	display:none;
}
#dvSaveologyContent #dvShoppingCart h3 {
	background:url(../images/ShoppingCart-back.gif) no-repeat;
	text-indent:-5000px;
	height:62px;
}
#dvShoppingCart h4 {
	font-size:13px;
	font-weight:bold;
	margin:0;
	padding:0;
}
#dvShoppingCart p {
	margin:0;
	padding:0;
}
.clsCartItem {
	border-bottom:1px solid #555;
	padding:10px 0;
	overflow:auto;
	height:auto;
	width:auto;
}
.clsCartItemName {
	width:74%;
	float:left;
}
.clsCartPrice {
	display:block;
	width:25%;
	float:left;
	font-weight:bold;
}
.clsCartPrice a {
	font-size:10px;
	color:#ff0000;
	display:block;
	text-align:left;
}
#dvSaveologyContent .btnCheckOut {
	background:transparent url(../images/checkout.jpg) center top no-repeat;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:47px;
	height /**/: 47px;
	width:100%;
}
/** Generic Styles **/


body .clsSplashLogo {
	background: url(../images/logo-splash.gif) top center no-repeat;
}
/*****TABVIEW Skin*****/
.yui-nav {
	display:none;
}
#dvSort {
	display:none;
}
.yui-nav li {
	float:left;
	height:25px;
	padding:0;
	margin:0;
	width:auto;
}
.yui-nav li a {
	display:block;
	padding:.5em .75em;
}
/* .yui-navset defaults to .yui-navset-top */
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
	border:solid #990000; /* color between tab list and content */
	border-width:0 0 5px;
	position:relative;
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav li, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-navset-top .yui-nav li {
	margin:0 0.16em 0 0; /* space between tabs */
	padding:1px 0 0; /* gecko: make room for overflow */
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav .selected, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected {
	margin:0 0.16em -1px 0; /* for overlap */
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav a, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
	color:#000;
	text-decoration:none;
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav a em, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
	cursor:pointer;
	padding:0.25em .75em;
	left:0;
	right: 0;
	bottom: 0; /* protect from other orientations */
	top:-1px; /* for 1px rounded corners */
	position:relative;
	font-style:normal;
}
.yui-content {
	position:relative;
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav .selected a, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */ #dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
	background:url(../images/tab.png) repeat-x left -200px; /* selected tab background */
	color:#fff;
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav a:hover, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav a:focus {
	background: url(../images/tab.png) repeat-x left -100px; /* selected tab background */
	outline:0;
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav .selected a em {
	padding:0.35em 0.75em; /* raise selected tab */
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav .selected a, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-nav .selected a em {
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-content {
/* background-color:white;  content background color 
   border:1px solid #1B9023;*/
}
#dvSaveologyContent .yui-skin-sam .yui-navset .yui-content, #dvSaveologyContent .yui-skin-sam .yui-navset .yui-navset-top .yui-content {
	/*  border:1px solid #e1e1c9;  content border */
    padding-top:10px;/*padding:0.25em 0.5em; ccontent padding */
}
/****************************/
/**** PROFILE INFORMATION ****/
/****************************/

#dvProfileInformation, #dvFailure {
	width: 745px;
	margin: 10px 0 0 0;
	text-align: left;
}
#dvProfileInformation h1, #dvFailure h1 {
	font-size:20px;
	margin:0 0 20px 0;
	padding:0;
}
#dvProfileInformation h2, #dvFailure h2 {
	background: #ccc;
	color:#000;
	padding:5px;
	font-size: 14px;
}
#dvProfileInformation td, #dvFailure td {
	padding:4px;
}
#dvProfileInformation span {
	font-weight:bold;
}
a:hover {
	cursor:pointer;
	color: #FF00FF
}
/*#phone-banner_cont {
background:transparent url(../images/phone-bar.jpg) no-repeat scroll 0 0;
height:26px;
margin:20px auto 20px;
width:943px;
line-height:19px;
}
#phone-banner_cont .redfont {
color:#CC0000;
font-family:Arial,Helvetica,sans-serif;
font-size:19px;
font-weight:bold;
margin-left:660px;
line-height:19px;
}*/

/* OOnline Pop *************************************************/

#OOnlineSearch {
	background: url(../images/index/searchbox_left.jpg) no-repeat;
	padding: 5px 0 5px 5px;
}
#OOnlineSearch h1 {
	font-size: 20px;
	color: #e50202;
	margin-left: 5px;
	font-weight:bolder;
}
#OOnlineSearch p {
	margin-left: 5px;
	color: #fff;
	font-weight:bold;
}
#mySearchWidget {
	width: 210px;
	margin: 60px 0 5px 15px;
	padding: 10px;
	height:90px;
}
#mySearchWidget ul {
	margin: 0;
	padding: 0;
}
#mySearchWidget ul li {
	list-style-type:none;
	/*display: inline-block;*/
	clear:both;
	color: #000;
	padding-bottom: 1px;
}
#mySearchWidget ul li label {
	margin-left:5px;
	display: inline-block;
	width:60px;
	font-size:13px;
}
.clsSearchSubmit {
	clear:both;
	width:100%;
	height:30px;
	background:url(../images/index/offer-button.jpg) top center no-repeat;
	margin-top:10px;
	border-style:none;
	cursor:pointer;
}
#ctl00_MainContent_pnlComcast {
	text-align: left;
	width: 740px;
}
.terms-box {
	padding: 5px 10px;
	overflow: auto;
	font-family: arial;
	font-size: 12px;
}
/* Thank You ----------------------------------------------------------------------------------------------------------------- */

.thankyou_t {
	width: 735px;
	height: 23px;
	background: #ccc;
	margin-top: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	padding: 5px 0 0 5px;
}
#thankyou-summary {
	width: 745px;
	margin: 10px 0;
}
#thankyou-summary p {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
#thankyou-summary-dtls_t {
	width: 735px;
	height: 20px;
	background: #ccc;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 0 5px;
	margin-top: 10px;
}
#thankyou-summary-dtls_t ul {
	margin: 0;
	padding: 0;
}
#thankyou-summary-dtls_t ul li {
	float: left;
	display: block;
}
#thankyou-summary-dtls_t ul li.first {
	width: 550px;
}
#thankyou-summary-dtls_t ul li.second {
	width: 100px;
}
#thankyou-summary-dtls {
	width: 745px;
	margin: 5px auto;
	font-size: 12px;
}
#thankyou-summary-dtls ul {
	margin: 0;
	padding: 0;
}
#thankyou-summary-dtls ul li {
	float: left;
	display: block;
}
#thankyou-summary-dtls ul li.first {
	width: 570px;
}
#thankyou-summary-dtls ul li.second {
	width: 95px;
}
#thankyou-summary-dtls-total {
	width: 714px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	margin: 20px 0;
	padding-right: 60px;
}
#thankyou-summary p strong {
	color: #ff0000;
	font-size: 14px;
}
#thankyou-info {
	width: 745px;
	height: 150px;
	margin: 10px 0 15px 0;
}
#thankyou-info ul {
	margin: 0 0 0 10px;
	padding: 0;
}
#thankyou-info ul li {
	float: left;
	display: block;
}
#thankyou-info ul li.first {
	width: 260px;
}
#thankyou-info ul li.second {
	width: 260px;
}
#thankyou-info ul li span {
	font-size: 14px;
	font-weight: bold;
	color: #ff0000;
}
#thankyou-info ul ul {
	margin: 5px 0 0 0;
	padding: 0;
}
#thankyou-info ul li li {
	float: none;
	list-style-type: none;
	font-size: 12px;
	padding-bottom: 3px;
}
#thankyou-info ul li li label {
	width: 90px;
	display: inline-block;
	font-weight: bold;
}
#thankyou-specials_t {
	width: 797px;
	height: 30px;
	background: url(../images/thankyou/specialoffers-back.gif) repeat-x;
	margin-top: 50px;
}
#thankyou-specials {
	width: 797px;
	height: 100px;
}
#dvSuccess {
	text-align: left;
	margin-left: 15px;
}
#clubcash {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-size: 12px;
}
#clubcash h4 {
	margin: 0;
	padding: 0;
	font-size: 14px;
}
#clubcash .red {
	color: Red;
	font-weight: bold;
}
#clubcash p {
	margin: 5px 0;
	font-size: 12px;
}
.service_text {
	margin-top: -20px;
}
.clsWidgetButton {
	width:135px;
	background: url(../images/signup-button.gif) center top no-repeat;
	height:31px;
	right:73px;
	top: 151px;
	border:none;
	padding:40px;
	margin-top:12px;
	cursor:pointer;
}
#dvFormPhone {
	display:none !important;
}
#existingCustomerQuestion {
	display: block;
}
#dvHomeSearchSection #dvSearchAddressFields #existingCustomerQuestion label {
	float:right;
	width:225px;
	padding-top:5px;
}
#existingCustomerQuestion input {
	text-align:left;
	margin-top:10px;
}
#telephoneArea {
	visibility:visible;
	margin-top:10px;
}
#telephoneArea .compare-phone {
	margin-top:5px;
}
#ver-redirect {
	margin:50px 20px;
	font-size:14px;
}
/*order results*/

#dvSaveologyContent .clsFilterGroup h4 {
	margin: 5px;
	border-bottom: 1px solid #c6c6c6;
}
.clsFilterGroup {
	border-bottom: 1px solid #E1E1C9;
	margin: -2px 10px;
	padding: 10px 0;
}
/******************non MSO Sepecific styles*/
#dvSaveologyContent #dvSearchResults {
	width: 580px;
	margin-left: 180px;
}
#loadingBar {
	left: -20px;
}
/************Shopping Cart Stuff*******************/


/**************End Non MSO Specific*/

.msoSpecialOfferContainer {
	background: url("../images/specialoffer.jpg") no-repeat scroll 0 0 transparent;
	height: 216px;
	margin-bottom: 12px;
	margin-left: 5px;
	width: 518px;
	position:relative;
}
.msoSpecialPrice {
	font-size:30px;
	position: absolute;
	top:93px;
	font-weight:bold;
	left:30px;
}
.msoSpecialOfferContainer img {
	height: 216px;
	width: 518px;
	position: relative;
	margin: -10px 0 10px 5px;
}
.msoGroup {
	float: left;
	width: 510px;
	border-top: 10px solid #003375;
	overflow: visible;
	margin: 25px 0 0px 10px;
	clear: both;
	display: none;
}
.msoGroupHeader {
background: background: #959596; /* old browsers */
	background: -moz-linear-gradient(top, #959596 0%, #C0C1BF 25%, #CCCDCB 51%, #E9E9E9 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #959596), color-stop(25%, #C0C1BF), color-stop(51%, #CCCDCB), color-stop(100%, #E9E9E9)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959596', endColorstr='#E9E9E9', GradientType=0 ); /* ie */
	color: #000;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 0 0 0px;
	width: 510px;
	height: 20px;
	position: relative;
	top: -39px;
	text-indent: 20px;
	margin-bottom: -30px;
}
.msoOfferContainer {
	background: white;
	width: 508px;
	padding: 0;
	margin: 0 auto 15px;
	float: left;
	border: 1px solid #E1E1C9;
}
.msoOfferTitle {
	background: #F7F7F7;
	width: 413px;
	overflow: hidden;
	border-bottom: 1px solid #E1E1C9;
	height: 26px;
	float: left;
}
.msoOfferTitle h3 {
	font-size: 16px;
	margin: 5px 0 0 6px;
	white-space: nowrap;
	color: #cb161e;
	font-family: 'KlavikaBold', sans-serif;
}
.msoOfferPrice {
	border-bottom: 1px solid #E1E1C9;
	height: 26px;
	background: #F7F7F7 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 95px;
}
.msoOfferPrice h3 {
	color: #000;
	font-size: 16px;
	margin: 3px 0 0 6px;
}
.msoOfferPrice h3 .perMonth {
	font-size: 10px;
	left: 2px;
	position: relative;
	top: -5px;
}
.msoOfferPrice h4 {
	color: #000;
	margin-top: -2px;
	text-align: center;
	width: 70px;
	margin-left: 5px;
	font-size: 11px;
}
.msoMarketingDetail {
	padding: 5px 10px;
	width: 380px;
	float: left;
	border-right: 1px solid #E1E1C9;
}
.msoOfferDescription {
	line-height: 14px;
	color: Black;
}
.msoOfferDescription ul {
	display: none;
}
.msoOfferFeatures {
	height: auto;
	width: 106px;
	float: left;
	clear: right;
}
.msoOfferFeatures img {
	padding: 5px 5px 0;
}
#dvSaveologyContent .selectplan_bt {
	/* Width and Height of Image         ONLY change this if it's not the same     height:26px;     width:120px;         */
	float: left;
	clear: both;
	position: relative;
	margin-top: 8px;
}
#dvSaveologyContent .showDetail_bt {
	float: right;
	clear: both;
	position: relative;
	right: 8px;
	margin-top: -8px; /*margin-top: 25px;*/
	text-decoration: underline;
	top: -8px;
	color: blue;
}
#dvSaveologyContent .showDetail_bt a {
	text-decoration: underline;
}
#dvSaveologyContent .showChannel_bt {
	/*float:right;*/
	clear: both;
	position: relative;
	right: -50px;
	margin-top: -8px; /*margin-top: 25px;*/
	text-decoration: underline;
	top: 18px;
	color: blue;
}
#dvSaveologyContent .showChannel_bt a {
	text-decoration: underline;
}
.msoOfferSeparator {
	background: white url(../images/sep_line.gif) no-repeat center;
	height: 5px;
	width: 95%;
	margin: 0 auto;
}
#providerFilter {
	display: none;
}
#dvAddressDisplay a:active {
	text-decoration: underline;
	color: #0078C9;
}
#dvAddressDisplay a {
	text-decoration: underline;
	color: black;
}
#BottomSectionArea p.offerpg {
	color: White;
	display: inline;
	float: right;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
	padding: 0 0 0 8px;
	width: 59%;
}
#dvFilterWrapper {
	background-color: #fff;
	color: black;
	border: 1px solid #c6c6c6;
}
.slider {
	background: transparent url(../images/slider_bar.gif) no-repeat 4px 6px;
}
#tv-icon {
	background: url(../images/tv-icon.gif) no-repeat center;
	height: 23px;
	width: 96px;
	margin-top: 5px;
	margin-left: 5px;
}
#phone-icon {
	background: url(../images/phone-icon.gif) no-repeat center;
	height: 23px;
	width: 96px;
	margin-top: 5px;
	margin-left: 5px;
}
#internet-icon {
	background: url(../images/internet-icon.gif) no-repeat center;
	height: 23px;
	width: 96px;
	margin-top: 5px;
	margin-left: 5px;
}
.ADTCrossSell {
	display: block;
}
#email-block {
	display: none;
}
#email-hdr {
	background: url(../images/email-hdr.gif) no-repeat scroll 0 0;
	width: 200px;
	height: 32px;
}
.email-box {
	margin: 5px 5px 5px 0;
	width: 160px;
}
.email-phone {
	margin: 5px 5px 5px 0;
	width: 42px;
}
.email-check {
	font-size: 10px;
	line-height: 14px;
	margin-top: 5px;
}
#email-block .btnSubmit {
	border: 0;
	display: block;
	background: url(../images/submit.gif) no-repeat scroll left top transparent;
	height: 32px;
	margin: 4px 0 14px 0;
	padding-top: 30px;
	width: 170px;
	cursor: pointer;
}
#dvHomeSearchSection #dvSearchAddressFields .dvFormRow-option {
	display: none;
	margin: -10px 0 10px 0;
}
#dvProfileInformation {
	background:#fff;
	padding:10px;
}
h1.login_t {
	font-family: 'KlavikaBold', sans-serif;
	font-size:21px;
	margin-bottom:5px;
}
.yui-skin-sam {
	width:574px
}
#dvAddressAvailable h3 {
	color:#C00 !important
}
.slider div span {
	color:#C00 !important
}
.offerdet_results {
	background:none !important
}
.bundle-disc {
	font-size:10px;
	color:#999;
	margin:0 20px 0 20px;
}
/*landing page 1*/
#bundle-main {
	background:url(../images/main-img.jpg) no-repeat top;
	width:959px;
	height:334px;
}
#bundle-main p {
	padding:130px 400px 0 38px;
}
#bundle-main ul {
	font-size:36px;
	margin:26px 0 0 30px;
	list-style:none;
	font-weight:bold;
	line-height:36px;
*line-height:50px;
	font-family:'Myriad Pro', Arial;
}
#bundle-main ul span {
	color:#F00;
}
#lftbox, #rgtbox {
	background:url(../images/box-bg.gif) no-repeat bottom;
	width:446px;
	height:332px;
	border:1px solid #666;
}
#lftbox {
	float:left;
	margin:20px 0 20px 20px;
}
#rgtbox {
	float:right;
	margin:20px 20px 20px 0;
}
.bundle-price {
	float:right;
	*margin-top:-6px;
}
.bundle-num {
	margin:5px 0 0 20px;
	float:left;
	width:44%;
	font-weight:bold;
}
.bundle-num p {
	font-size:23px;
	color:#333;
	margin-bottom:16px;
	font-family:'Myriad Pro', Arial;
	line-height:26px;
}
.bundle-num p span {
	color:#F00;
}
/*landing page 2*/
#main-img2 {
	background:url(../images/main-img-2.jpg) no-repeat top;
	width:959px;
	height:127px;
}
#main-img2 h1 {
	padding:20px 0 0 30px;
*padding:20px 0 8px 30px;
	color:#F00;
	font-size:20px;
}
#main-img2 p {
	padding:0 400px 0 30px;
}
.bundles-box {
	background:url(../images/bundles-bg.jpg) no-repeat top;
	width:904px;
	height:260px;
	margin:0 auto 10px auto;
	position:relative;
}
.bundles2-box {
	background:url(../images/bundles2-bg.jpg) no-repeat top !important;
}
.bundles-box img {
	position:absolute;
	right:0px;
	top:40px;
}
.bundles-box p {
	font-size:26px;
	padding:23px 0 0 218px;
	font-weight:bold;
	font-family:'Myriad Pro', Arial;
}
.bundles-box span {
	color:#F00;
}
.bundles-box a {
	margin:150px 0 0 40px
}
.fios-bg {
	background:url(../images/fios-bg.gif) no-repeat top;
	width:904px;
	height:130px;
	position:relative;
	margin:0 auto 20px auto;
}
.fios-bg p {
	font-size:43px;
	color:#F00;
	position:absolute;
	left:330px;
	top:82px;
	font-weight:bold;
}
.fios-bg p {
*padding: 10px 0 !important;
*top: 93px !important;
*left: 547px !important;
*position: inherit !important;
*width: 358px;

}
/*tooltip pops*/
#bundles-pops h1 {
	font-size:16px;
	margin:0 0 10px 0;
	padding:10px;
	color:#FFF;
	font-family:'Myriad Pro', Arial;
	background: #ff3019; /* old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0 ); /* ie */
}
#bundles-pops {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:20px;
	background-color:#CCC;
	border:1px solid #333;
	background: #ebebeb; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 54%, #e1e1e1 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(54%, #ffffff), color-stop(100%, #e1e1e1)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=0 ); /* ie */
*z-index:1000;
}
#bundles-pops div {
	width:250px;
	border:1px solid #ccc;
	padding:10px 10px;
	min-height:200px;
	background-color:#fff;
	border:4px solid #d7d7d7;
}
#bundles-pops h2, #bundles-pops h3, #bundles-pops h4 {
	font-size:16px;
	color:#F00;
	margin:0;
	padding:0;
	font-family:'Myriad Pro', Arial;
}
#bundles-pops ul {
	margin:10px 0 0 26px;
	padding:0;
}
#bundles-pops li {
	margin:6px 0
}
.fios-tv {
	float:left
}
.fios-internet {
	float:left;
}
.fios-phone {
	float:right;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
    
}
.clearfix {
	display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/*tooltip*/
#download_now, #download_now2 {
	display:block;
	overflow:hidden;
	width:175px;
	cursor:pointer;
	color:#06C;
	text-decoration:underline;
	font-weight:normal;
	font-size:12px;
	padding:10px 0;
}
/* mouseover state */
#download_now:hover {
	background-position:0 -44px;
}
/* clicked state */
#download_now:focus {
	background-position:0 -88px;
}
/* tooltip styling */
.tooltip {
	display:none;
	font-weight:normal;
	z-index:1000;
}
/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}
.tooltip a {
	color:#ad4;
	font-weight:normal
}

.padding_seo{padding:0 43px}

.fb_edge_comment_widget {top:-300px !important;}