@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	background: url('images/layout_bg.jpg') repeat left top;
	font-family: Arial, helvetica, sans-serif;
	font-weight: normal;
}

a {
	text-decoration: none;
}

h1, h4 {
	font-family: 'BebasRegular', Arial, helvetica, sans-serif;
	color: #ccc;
}

p {
	font-size: 12px;
}

img {
	border: none;
}

#header_holder {
	width: 100%;
	height: 117px;
	float: left;
	background: url('images/mainnav_bg.jpg') repeat-x bottom;
	padding: 8px 0 0 0;
	margin: 0 0 20px 0;
}

.frame {
	width: 960px;
	margin: 0 auto;
}

#header {
	width: 100%;
	float: left;
	height: 117px;
}

#logo {
	width: 232px;
	float: left;
}

#logo a {
	display: block;
	width: 232px;
	height: 117px;
	float: left;
	background: url('images/logo.png') no-repeat left;
}

#headerright {
	width: 728px;
	float: left;
}

#headertop {
	width: 100%;
	float: left;
	height: 28px;
}

#headertop ul {
	float: right;
	font-family: 'BebasRegular', Arial, helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	line-height: 28px;
}

#headertop ul li {
	display: inline;
	padding: 0 13px;
}

#headertop ul li a {
	color: #fff;
}

#headersearch {
	width: 258px;
	float: left;
	padding: 4px 0 9px 470px;
	height: 23px;
}

#search_bar {
	width: 195px;
	height: 21px;
	float: left;
	border: none;
	margin: 1px 10px 0 0;
	border: none;
}

#search_btn {
	width: 53px;
	height: 23px;
	float: left;
}

#mainnav {
	width: 100%;
	float: left;
	height: 52px;
	
}

#mainnav ul {
	float: right;
	font-family: 'BebasRegular', Arial, helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-align: left;
	line-height: 52px;
}

#mainnav ul li {
	display: inline;
	padding: 0 16px;
}

#mainnav ul li a {
	color: #fff;
}

#bodysection {
	width: 100%;
	float: left;
}

.content {
	width: 100%;
	float: left;
	margin: 0 0 35px 0;
}

.content p {
	font-size: 12px;
}

#mainbanner {
	width: 100%;
	float: left;
	position: relative;
	z-index: 1;
}

.mainbanner_item {
	width: 100%;
	float: left;
	position: relative;
	z-index: 1;
}

.mainbanner_item h1 {
	display: block;
	width: 940px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 100;
	font-size: 54px;
	line-height: 54px;
}

.mainbanner_item h1 a {
	display: block;
	float: left;
	color: #fff;
	background-color: #231f20;
	padding: 5px 5px 10px 5px;
}

#mainbanner_itemlist {
	position: absolute;
	z-index: 10;
	right: 0;
	bottom: 10px;
}

#mainbanner_itemlist ul {
	float: right;
}

#mainbanner_itemlist ul li {
	display: block;
	float: left;
	margin-right: 10px;
}

#mainbanner_itemlist a {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	color: #aaa5a3;
	background-color: #aaa5a3;
}

#mainbanner_itemlist a:hover {
	color: #2a2627;
	background-color: #2a2627;
}

#mainbanner_itemlist .activeSlide {
	color: #2a2627;
	background-color: #2a2627;
}

#mainbanner_itemlist ul li a {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background-color: #aaa5a3;
}

#mainbanner_itemlist ul li a:hover {
	background-color: #2a2627;
}

#mainbanner_itemlist .mbitem_selected a {
	background-color: #2a2627;
}

#home_left {
	width: 590px;
	float: left;
	padding: 20px;
	margin: 0 20px 0 0;
	background: url('images/rightsec_bg.png') repeat left top;
}

#home_left p {
	text-align: left;
	text-decoration: none;
	line-height: 18px;
	color: #fff;
}

#home_left h2 a {
	font-size: 24px;
}

#home_left h4 {
	display: block;
	float: left;
	font-size: 44px;
	line-height: 44px;
	background: url('images/latestnews_dash.png') no-repeat right 5px;
	padding: 0 27px 0 0;
	margin: 0 0 10px 0;
}

.homeleft_post {
	width: 100%;
	float: left;
	padding: 30px 0 0 0;
	margin: 0 0 30px 0;
	border-top: 1px solid #323130;
}

.homeleft_post a {
	color: #fff;
}

.homeleft_posttop {
	border: none;
}

.homepost_img {
	width: 150px;
	float: left;
	margin: 0 10px 0 0;
	padding: 7px 0 0 0;
}

.homepost_img img {
	width: 150px;
	float: left;
	border: none;
}

.homepost_info {
	width: 430px;
	float: left;
}

.homepostinfo_noimg {
	width: 100% !important;
}

.homepost_info a {
	color: #fff;
}

.homepost_title {
	width: 100%;
	float: left;
	margin: 0 0 10px 0;
}

.homepost_title h2 {
	float: left;
}

.homepost_comment {
	float: right;
	background: url('images/comments_bg.png') no-repeat left;
	padding: 0 0 0 9px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	line-height: 22px;
}

.homepost_comment a {
	display: block;
	float: left;
	background: url('images/commentamt_bg.png') repeat left top;
	padding: 0 5px;
	color: #fff;
}

.homepost_meta {
	margin: 0 0 10px 0;
}

.homepost_meta a:hover {
	text-decoration: underline;
}

#right_col {
	width: 300px;
	float: left;
	background: url('images/rightsec_bg.png') repeat left top;
	padding: 15px 5px;
}

#right_col h4 {
	display: block;
	float: left;
	font-size: 28px;
	line-height: 28px;
	background: url('images/righttitle_dash.png') no-repeat right 3px;
	padding: 0 20px 0 0;
}

#right_col ul {
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;
	margin: 20px 0 35px 0;
}

#right_col select {
	margin: 20px 0 35px 0;
}

#right_col ul li {
	list-style: none;
	display: block;
	width: 100%;
	float: left;
	border-top: 1px solid #323130;
}

#right_col ul li:first-child {
	border-top: none;
}

#right_col ul li a {
	display: block;
	width: 100%;
	float: left;
	line-height: 30px;
}

#right_col ul li a span {
	display: block;
	float: right;
}

.right_section {
	width: 270px;
	float: left;
	padding: 0 15px;
	margin: 10px 0 30px 0;
	background: url('images/sep_squares.png') no-repeat bottom;
}

.rightsection_last {
	background: none;
}

.right_section ul {
	width: 100%;
	float: left;
}

.right_section ul li a {
	color: #fff;
}

#footer {
	width: 940px;
	float: left;
	padding: 10px 10px 20px 10px;
}

#footer p {
	font-size: 12px;
	color: #fff;
	line-height: 18px;
}

#footer ul {
	font-size: 12px;
	color: #fff;
	line-height: 18px;
}

#footer a {
	color: #fff;
}

#footer h3, h4 {
	font-size: 24px;
	margin: 0 0 5px 0;
}

#footer h3 {
	margin: 15px 0 10px 0;
}

#footer h3 a {
	font-size: 24px;
	margin: 5px 0 5px 0;
}

#footer_vidofweek {
	width: 294px;
	float: left;
	border-right: 1px solid #2a2527;
	padding: 0 20px 0 0;
}

#footer_right {
	width: 625px;
	float: left;
}

#footer_artofweek {
	width:294px;
	min-height: 245px;
	float: left;
	padding: 0 20px;
	border-right: 1px solid #2a2527;
	margin: 0 20px 0 0;
}

.footer_links {
	width: 265px;
	float: left;
}

.footer_links ul {
	float: left;
	padding: 0 0 5px 0;
}

.footer_links ul li {
	list-style: none;
	line-height: 16px;
}

.footer_sitelinks li {
	display: block;
	width: 48%;
	float: left;
}

.footer_sitelinks li {
	display: block;
	width: 48%;
	float: left;
}

#footer_nav {
	width: 605px;
	float: left;
	padding: 0 0 0 20px;
	margin: 10px 0 0 0;
	line-height: 16px;
}

#footer_nav ul {
	float: left;
	font-family: 'BebasRegular', Arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
}

#footer_nav ul li {
	list-style: none;
	display: inline;
	padding: 0 10px;
}

#footer_nav p {
	float: right;
}

#post_left {
	width: 610px;
	float: left;
	padding: 10px 10px 30px 10px;
	margin: 0 20px 30px 0;
	background: url('images/sep_squares.png') no-repeat bottom;
}

#post_left h1 {
	font-family: Arial, helvetica, sans-serif;
	font-size: 32px;
	color: #fff;
}

#post_left p {
	font-weight: normal;
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	padding: 0 0 20px 0;
}

#post_social {
	width: 100%;
	float: left;
	padding: 30px 0 15px 0;
}

#post_social p {
	float: left;
	color: #a19f9f;
	margin: 0 20px 0 0;
}

#post_social p a {
	color: #a19f9f;
	font-weight: bold;
}

#post_social img {
	margin: 0 15px 0 0;
}

#post_content {
	width: 100%;
	float: left;
}

#post_content img {
	float: left;
	margin: 0 10px 10px 0;
}

#post_left .homepost_comment {
	float: left;
	margin: 0 15px 0 0;
}

#post_left .post_firstpar {
	font-style: italic;
	color: #a19f9f;
}

.content2 {
	width: 100%;
	float: left;
	padding: 10px 0;
}

.widget {
	width: 100%;
	float: left;
	padding: 10px 0;
}

.widget h2 {
	font-family: 'BebasRegular', Arial, helvetica, sans-serif;
	font-size: 28px;
	line-height: 28px;
	color: #ccc;
	padding: 0 0 10px 0;
}

.widget ul {
	text-align: left;
	line-height: 30px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}

.widget ul li {
	list-style: none;
	display: block;
	width: 100%;
	float: left;
	border-top: 1px solid #323130;
}

.widget ul li:first-child {
	border-top: none;
}

.widget ul li a {
	display: block;
	width: 100%;
	float: left;
	text-decoration: none;
	color: #fff;
}

.tagcloud {
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	line-height: 14px;
}

.tagcloud a {
	color: #fff;
}

#post-0 h2 {
	font-size: 14px;
	color: #ccc;
}

#comments {
	width: 100%;
	float: left;
	padding: 15px 0 0 0;
}

#comments-title {
	display: block;
	width: 100%;
	float: left;
	font-family: 'BebasRegular', Arial, helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #ccc;
	padding: 0 0 10px 0;
}

.comment {
	font-size: 12px;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	color: #fff;
}

.comment p {
	float: left;
	padding: 0 0 5px 0 !important;
}

.comment img {
	float: left;
	border: none;
	padding: 0 10px 0 0;
}

.comment a {
	color: #ccc;
	font-weight: bold;
	text-decoration: none;
}

.commentlist {
	width: 100%;
	float: left;
	list-style: none;
}

.comment-meta {
	width: 100%;
	float: left;
}

.commentlist li {
	list-style: none;
	display: block;
	width: 100%;
	float: left;
}

.commentlist > li {
	display: block;
	width: 100%;
	float: left;
}

.commentlist li ul {
	float: left;
	list-style: none;
	padding: 0 0 0 20px;
}

.comment-content {
	width: 87%;
	float: left;
}

.children {
	width: 95%;
	float: left;
	padding: 0 0 0 5%;
}

.comment-author {
	width: 87%;
	float: left;
	padding: 0 0 5px 0;
}

.commentavatar_sec {
	width: 13%;
	float: left;
}

.commentmeta_info {
	width: 85%;
	float: left;
}

.reply {
	width: 100%;
	float: left;
	padding: 0 0 10px 0;
}

#respond {
	width: 100%;
	float: left;
}

#respond h3 {
	font-family: 'BebasRegular', Arial, helvetica, sans-serif;
	font-size: 18px;
	color: #ccc;
}

#respond a {
	color: #ccc;
}

.comment-form-comment label {
	width: 100%;
	float: left;
}

.tagcloud {
	width: 100%;
	float: left;
	margin: 0 0 35px 0;
}



